{% extends "layouts/main.html" %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Who are you applying for? – Apply for a Blue Badge – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <form method="post" action="/eligibility-answer">

        {{ govukRadios({
          name: "applying-for",
          fieldset: {
            legend: {
              text: "Who are you applying for?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select one option."
          },
          errorMessage: {
            text: "Select who you are applying for"
          } if errors else undefined,
          items: [
            {
              value: "myself",
              text: "Myself",
              checked: data['applying-for'] == "myself"
            },
            {
              value: "someone-else",
              text: "Someone else",
              checked: data['applying-for'] == "someone-else"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
